<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Scraper</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
    

    <script>
        function submitForm(event) {
            event.preventDefault();  // Prevent the form from submitting the traditional way
            // Show the loading image
            document.getElementById('loading').style.display = 'block';  // Corrected this line
            const minValue = Math.max(0.1, (Math.round(Math.pow(document.getElementById("min-price-range").value, 5) / 10000000000000000 * 100) / 100));
            const maxValue = Math.max(1, (Math.round(Math.pow(document.getElementById("max-price-range").value, 5) / 10000000000000000 * 100) / 100));
            const priceOrder = document.getElementById("sort").value;
            const amazon = document.getElementById("amazon").checked;
            const bestbuy = document.getElementById("bestbuy").checked;
            const costco = document.getElementById("costco").checked;
            const walmart = document.getElementById("walmart").checked;
            // Use AJAX to submit the form
            const formData = new FormData(document.getElementById('crawlerForm'));
            formData.append('min_price', minValue);
            formData.append('max_price', maxValue);
            formData.append('price_order', priceOrder);
            formData.append('amazon',amazon);
            formData.append('bestbuy',bestbuy);
            formData.append('costco',costco);
            formData.append('walmart',walmart);
            fetch("/", {
                method: "POST",
                body: formData
            })
                .then(response => response.text())
                .then(html => {
                    // Hide the loading image
                    document.getElementById('loading').style.display = 'none';

                    // Replace the content with the response
                    // Parse the response HTML
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(html, 'text/html');

                    // Update the product grid
                    const productGrid = document.querySelector('.grid-container');
                    productGrid.innerHTML = doc.querySelector('.grid-container').innerHTML;

                    // Update the min and max price values
                    document.getElementById('min-price').textContent = minValue;
                    document.getElementById('max-price').textContent = maxValue;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</head>
<body>
    
    <div class = "side-bar">
        <h2>Setting</h2>
        
        <form id = "setting">
            <h3>Sellers</h3>
            <label for="amazon" class = "seller-container">
                Amazon <input type="checkbox" id="amazon" name="amazon" value="amazon" checked>
                <span class="checkmark"></span>
            </label>
            <br>
            <label for="bestbuy" class = "seller-container">
                BestBuy <input type="checkbox" id="bestbuy" name="bestbuy" value="bestbuy" checked>
                <span class="checkmark"></span>
            </label>
            <br>
            <label for="costco" class = "seller-container">
                Costco &nbsp;&nbsp; <input type="checkbox" id="costco" name="costco" value="costco" checked>
                <span class="checkmark"></span>
            </label>
            <br>
            <label for="walmart" class = "seller-container">
                Walmart <input type="checkbox" id="walmart" name="walmart" value="walmart" checked>
                <span class="checkmark"></span>
            </label>
            <h3>Price Range</h3>
            <div class = "slidecontainer">
                <label for = "min-price-range">Min price: <input type = "range" min = "0.1" max = "9999" value = "0.1" class = "slider" id = "min-price-range"></label>
                <label for = "max-price-range">Max price: <input type = "range" min = "1" max = "10000" value = "10000" class = "slider" id = "max-price-range"></label>
                <!-- <p style = "margin-left: 40px;">Min Price: $<span id = "min-price"></span> </p>
                <p style = "margin-left: 40px;">Max Price: $<span id = "max-price"></span> </p> -->
                <p style = "margin-left: 40px;">Price Range: $<span id = "min-price"></span>-<span id = "max-price"></span> </p>
            </div>
            <h3>Sorted By</h3>
            <div name="sort" class = "custom-select" style = "width:200px;">
                <select id="sort" >
                    <option value="lth">Price: low-to-high</option>
                    <option value="lth">Price: low-to-high</option>
                    <option value="htl">Price: high-to-low</option>
                </select>
            </div>
        </form>
    </div>

    <div class="container">
        <h1>Global Product searcher</h1>
        <form id="crawlerForm" , method='POST' onsubmit="submitForm(event)">
            <input type="text" id="productName" name="name" placeholder="Enter product name" required>
            <button type="submit" name="submit">Search
            </button>

        </form>
        <img src="{{ url_for('static',filename = 'loading.png') }}" alt="loading" class="loading" id="loading">
        <div class="grid-container">

            {% for product in products %}
                <div class="product" id="results">
                    <p style = "font-size: 22px;"><strong>{{ product[0][:20] }}</strong></p>
                    <a href="{{ product[3] }}" target="_blank"><img src="{{ product[2] }}" alt="{{ product[0][:20] }}"
                                                    style="height:150px;width:auto;max-width: 300px;"></a>
                    <p>${{ product[1] }}.99</p>
                    <p>From {{ product[4] }}</p>
                </div>
            {% endfor %}

        </div>
    </div>
    <script type = "text/javascript"  src = "{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>